@-ms-viewport
{
    width: device-width;
}
@-o-viewport
{
    width: device-width;
}
@viewport
{
    width: device-width;
}


/*groups*/
body
{
    margin: 0 0 0 0;
}
html
{
    background-color: #EEEEEE;
    margin-left: 15%;
    margin-right: 15%;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
input
{
    width: 100%;
    font-family: Roboto, 'FontAwesome', sans-serif;
    font-size: calc(12px + 0.3vw);
    color: #E0E0E0;
    padding: 5px;
    border: 1px solid;
    border-color: #757575;
    background-color: #757575;
    transition: border-color 0.2s ease;
}
input:hover
{
    border: 1px solid;
    border-color: #E0E0E0;
}
textarea
{
    width: 100%;
    font-family: Roboto, 'FontAwesome', sans-serif;
    font-size: calc(12px + 0.3vw);
    color: #E0E0E0;
    padding: 5px;
    border: 1px solid;
    border-color: #757575;
    background-color: #757575;
    transition: border-color 0.2s ease;
}
textarea:hover
{
    border: 1px solid;
    border-color: #E0E0E0;
}
h1
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-size: calc(20px + 3vw);
    color: #616161;
}
h2
{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: calc(18px + 2vw);
    color: #616161;

}

/* IDs */
#header
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    line-height: 2rem
}
#Text
{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: calc(12px + 0.3vw);
    color: #E0E0E0;
    padding: 20px;
    background-color: #616161;
    border-radius: 1px;
}
#social_pane
{
    background-color: #616161;
    border-radius: 1px 1px 0 0;
    margin-top: 50px;
    margin-bottom: 0px;
}
#social_pane_left
{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: calc(12px + 0.3vw);
    color: #E0E0E0;
    padding: 20px;
    margin-bottom: 20px;
}
.fas
{
    padding-right: 20px;
}
#social_pane_right
{
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: calc(12px + 0.3vw);
    color: #ECEFF1;
    padding: 20px;
    margin-bottom: 20px;
}
#send_button
{
    background-color: #616161;
    color: #E0E0E0;
    border: 1px solid;
    border-color: #E0E0E0;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#send_button:hover
{
    background-color: #E0E0E0;
    color: #616161
}
#send_button:active{
    color: turquoise;
    border-color: turquoise;
}
a
{
    color: #ECEFF1;
}
#footer
{
    background-color: #EEEEEE;
    text-align: center;
    vertical-align: bottom;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: calc(12px + 0.3vw);
    color: #1F232E;
    padding-top: 50px;
    padding-bottom: 5px;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px)
{
    html {
        margin-left: 0%;
        margin-right: 0%;
    }
}