<div id="social_pane">
  <div style="width: 100%; overflow: hidden;">
      <div style="width: 50%; float: left;" id="social_pane_left">
            <table>
                    <tr>
                        <th colspan="2">Kontakt:</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top"><i class="fas fa-home"></i></td>
                        <td><a>Christina Brieger, Dipl. Ing. (FH), Architektin</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a>83022 Rosenheim, Deutschland</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-envelope"></i></td>
                        <td><a href="mailto:{{ .Site.Params.social.email }}" aria-label="Email">c.brieger@mailbox.org</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-phone"></i></td>
                        <td><a href="callto:0123456789">0123 456789</a></td>
                    </tr>
                </table>
      </div>
      <div style="width: 50%; float: right;" id="social_pane_right">
        <form action="mail_handler.php" method="POST">
          <table style="width: 100%; overflow: hidden;">
            <tr>
                <th><br></th>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td style="width: 50%; float: left;"><input type="email" name="mail" id="mail" placeholder="&#xf0e0  E-Mail" required></td>
                <td style="width: 50%; float: right;"><input type="text" name="name" id="name" placeholder="&#xf007  Name"></td>
            </tr>
            <tr>
                <td colspan="2" style="width: 100%; float: center;"><textarea id="message" name="message" placeholder="&#xf036  Nachricht" rows="2"></textarea></td>
            </tr>
            <tr>
                <td style="width: 50%; float: left;"></td>
                <td style="width: 50%; float: right;"><input id=send_button type="submit" value="Nachricht senden"></td>
            </tr>
          </table>
        </form>
            
      </div>
    

  </div>