<footer id="footer">
    <div id="privacy"> 
        Website by <a href="#">Martin Brieger</a> ©2019&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Sourcecode</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://www.bak.de/w/files/bak/02architekten/architektendatenschutzde/muster-5_datenschutzerklaerung-website_stand-27.8.2018.pdf">Impressum</a>/<a>Datenschutz</a>
    </div>

</footer>


</body>

</html>

Impressum

Christina Brieger, Dipl. Ing. (FH)
Architektin
Hoppenbichlerstraße 17
D-83022 Rosenheim

Mobil: 	+0049-0160-987 448 94 
E-Mail:	c.brieger@mailbox.org

UmSt.-ID<.	 DE42 970 381 952 
St. Nr.:		 156/207/50066

Bayerische Architektenkammer, Waisenhausstraße 4, 80637 München:
Architektenliste Mitgliedsnummer 184.360 

Bildnachweis:	Christina Brieger, Johanna König

Webdesign: 	Martin Brieger

2019

